<app-project></app-project>

<h2 style="margin-top: 20px;">
    <p>Team Member Data</p>
</h2>
 <p-divider></p-divider>

    <!-- <form [formGroup]="teamForm">
        <div class="p-grid" style="margin-top: 30px;">
        <div class="p-col-4 p-offset-1" style="border-radius: 1px solid black;">
          

            <div class="p-fluid">
                <div class="p-field">
                    <label for="cliendId">Client Id</label>
                    <p-dropdown [options]=clientIds [(ngModel)]="selectedClientId" [ngModelOptions]="{standalone: true}" optionLabel='id'  placeholder="select Client"></p-dropdown><br>
                    <small *ngIf="!teamForm.get('cliendId')?.valid && teamForm.get('cliendId')?.touched">
                        <span style="color:red;">
                            Please enter valid client Id.
                        </span>
                    </small>
                </div>
            </div>

            <div class="p-fluid">
                <div class="p-field">
                    <label for="projectId">Project Id</label>
                    <input pInputText readonly type="text"  id="projectId" name="projectId" formControlName="projectId"><br>
                    <small *ngIf="!teamForm.get('projectId')?.valid && teamForm.get('projectId')?.touched">
                        <span style="color:red;">
                            Please enter valid project Id.
                        </span>
                    </small>
                </div>
            </div>
            
                <div class="p-fluid">
                    <div class="p-field">
                        <label for="name">Name</label>
                        <input pInputText type="text"  id="name" name="name" formControlName="name"><br>
                        <small *ngIf="!teamForm.get('name')?.valid && teamForm.get('name')?.touched">
                            <span style="color:red;">
                                Please enter valid Name.
                            </span>
                        </small>
                    </div>
                </div>

                <div class="p-fluid">
                    <div class="p-field">
                        <label for="contact">Contact</label>
                        <input pInputText type="text"  id="contact" name="contact" formControlName="contact"><br>
                        <small *ngIf="!teamForm.get('contact')?.valid && teamForm.get('contact')?.touched">
                            <span style="color:red;">
                                Please enter valid contact.
                            </span>
                        </small>
                    </div>
                </div>
           
                
                <div class="p-fluid">
                    <div class="p-field">
                        <label for="role">Role</label>
                        <input pInputText type="text" id="role" name="role" formControlName="role"><br>
                        <small *ngIf="!teamForm.get('role')?.valid && teamForm.get('role')?.touched">
                            <span style="color:red;">
                                Please enter valid role.
                            </span>
                        </small>
                    </div>
                </div>
            </div>

            <div class="p-col-4 p-offset-1">
           
                <div class="p-fluid">
                    <div class="p-field">
                        <label for="departmentName">Department Name</label>
                        <input pInputText type="text" id="departmentName" name="departmentName" formControlName="departmentName"><br>
                        <small *ngIf="!teamForm.get('departmentName')?.valid && teamForm.get('departmentName')?.touched">
                            <span style="color:red;">
                                Please enter valid department Name.
                            </span>
                        </small>
                    </div>
                </div>
           
                <div class="p-fluid">
                    <div class="p-field">
                        <label for="location">Location</label>
                        <input pInputText type="text" id="location" name="location" formControlName="location"><br>
                        <small *ngIf="!teamForm.get('location')?.valid && teamForm.get('location')?.touched">
                            <span style="color:red;">
                                Please enter valid location.
                            </span>
                        </small>
                    </div>
                </div>
                

                <div class="p-fluid">
                    <div class="p-field">
                        <label for="email">Email</label>
                        <input pInputText type="email" id="email" name="email" formControlName="email"><br>
                        <small *ngIf="!teamForm.get('email')?.valid && teamForm.get('email')?.touched">
                            <span style="color:red;">
                                Please enter valid email.
                            </span>
                        </small>
                    </div>
                </div>

                <div class="p-fluid">
                    <div class="p-field">
                        <label for="reportingTo">Reporting To</label>
                        <input pInputText type="email" id="reportingTo" name="reportingTo" formControlName="reportingTo"><br>
                        <small *ngIf="!teamForm.get('reportingTo')?.valid && teamForm.get('reportingTo')?.touched">
                            <span style="color:red;">
                                Please enter valid Email.
                            </span>
                        </small>
                    </div>
                </div>



        <p-divider></p-divider>
    
       
    
        <div class="p-fluid" style="margin-bottom: 30px;" >
            <button [disabled]="!teamForm.valid" pButton label="Next" (click)="onSave()">
            </button>
        </div>
        </div>
        </div>
</form> -->



<div class="container">
    <div class="card">
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <button pButton pRipple label="Add Team Member" icon="pi pi-plus" (click)="addTeam()" class="p-button-success p-mr-2" style="border: 1px solid black; color: white;"></button>
            </ng-template>
        </p-toolbar>
    </div>

    <p-dialog [(visible)]="teamDialogue" [style]="{width: '70%'}" header="Team Member Details" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="p-grid" style="margin-top: 30px;">
            <div class="p-col-4 p-offset-1" style="border-radius: 1px solid black;">

                
                <div class="p-field">
                    <label for="cliendId">Client Id</label>
                    <p-dropdown [options]=clientIds [(ngModel)]="selectedClientId" [ngModelOptions]="{standalone: true}" optionLabel='id'  placeholder="select Client"></p-dropdown><br>
                </div>

            <div class="p-field">
                <label for="level">client id</label>
                <p-dropdown [options]=clientIds [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedClientId" optionLabel='id' placeholder="select client ids"></p-dropdown><br>
            </div>
          

            <div class="p-field">
                <label for="trigger">Trigger</label>
                <input type="text" pInputText id="trigger" pInputText [(ngModel)]="rule.trigger" required autofocus/>
            </div>

            <div class="p-field">
                <label for="level">Level</label>
                <p-dropdown [options]=levels [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedLevel" optionLabel='level' placeholder="select Level"></p-dropdown><br>
            </div>

            <div class="p-field">
                <label for="escalationId">Escalation ID</label>
                <input type="text" pInputText id="escalation Id" [(ngModel)]="rule.escalationIds" required autofocus />
                <small class="p-invalid" style="color: red;" *ngIf="submitted && !rule.escalationId">Escalation ID is required.</small>
            </div>

            <div class="p-field">
                <label for="noDaysNoResponse">no. of Days of No Response</label>
                <input type="text" pInputText id="noDaysNoResponse" [(ngModel)]="rule.noDaysNoResponse" required autofocus />
                <small class="p-invalid" style="color: red;" *ngIf="submitted && !rule.noDaysNoResponse">no of Days of No Response is required.</small>
            </div>

            <div class="p-fluid">
                <div class="p-field">
                    <label for="reminderPeriod1">Reminder Period1</label>
                    <input pInputText type="text" id="reminderPeriod1" name="reminderPeriod1" [(ngModel)]="rule.reminderPeriod1">
                    <br>
                </div>
            </div>

            <div class="p-fluid">
                <div class="p-field">
                    <label for="reminderIds1">Reminder Id1</label>
                    <input pInputText type="text" id="reminderIds1" name="reminderIds1" [(ngModel)]="rule.reminderIds1"><br>
                </div>
            </div>
       

            <div class="p-fluid">
                <div class="p-field">
                    <label for="reminderPeriod2">Reminder Period2</label>
                    <input pInputText type="text" id="reminderPeriod2" name="reminderPeriod2" [(ngModel)]="rule.reminderPeriod2"><br>
                </div>
            </div>
        </div>
    
        <div class="p-col-4 p-offset-1">
    
            <div class="p-fluid">
                <div class="p-field">
                    <label for="reminderIds2">Reminder Ids2</label>
                    <input pInputText type="text" id="reminderIds2" name="reminderIds2" [(ngModel)]="rule.reminderIds2"><br>                    </div>
            </div>

            
            <div class="p-fluid">
                <div class="p-field">
                    <label for="reminderPeriod3">Reminder Period3</label>
                    <input pInputText type="text" id="reminderPeriod3" name="reminderPeriod3" [(ngModel)]="rule.reminderPeriod3"><br>
                </div>
            </div>

            
            <div class="p-fluid">
                <div class="p-field">
                    <label for="reminderIds3">Reminder Ids3</label>
                    <input pInputText type="email" id="reminderIds3" name="reminderIds3" [(ngModel)]="rule.reminderIds3"><br>
                </div>
            </div>

            
            <div class="p-fluid">
                <div class="p-field">
                    <label for="templateEscalation">Template Escalation</label>
                    <input pInputText type="text" id="templateEscalation" name="templateEscalation" [(ngModel)]="rule.templateEscalation"><br>
                </div>
            </div>

            
            <div class="p-fluid">
                <div class="p-field">
                    <label for="templateReminder">Template Reminder</label>
                    <input pInputText type="text" id="templateReminder" name="templateReminder" [(ngModel)]="rule.templateReminder"><br>
                </div>
            </div>

            
            <div class="p-fluid">
                <div class="p-field">
                    <label for="scope">Scope</label>
                    <input pInputText type="text" id="scope" name="scope" [(ngModel)]="rule.scope"><br>
                </div>
            </div>

            <div class="p-fluid">
                <div class="p-field">
                    <label for="entityIdStr">Entity Id</label>
                    <input pInputText type="text" id="entityIdStr" name="entityIdStr" [(ngModel)]="rule.entityIdStr"><br>
                </div>
            </div>

            <div class="p-fluid">
                <div class="p-field">
                    <label for="entityIdNum">Entity Id</label>
                    <input pInputText type="text" id="entityIdNum" name="entityIdNum" [(ngModel)]="rule.entityIdNum"><br>
                </div>
            </div>
        </div>
        </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveTeam()"></button>
        </ng-template>
    </p-dialog>
