p-card {
    padding: 10%;
    background-color: gainsboro;
    border: 1px solid black;
}

:ng-deep p-card {
    height: fit-content;
}

p-field {
    width: 100%;
}

.footer {
    margin-bottom: 20px;
}