<app-project></app-project>
<header>
    <h3>Escalation Rules</h3>
</header>
<div class="container">
    <div class="card">
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <button pButton pRipple label="Add Escalation" icon="pi pi-plus" (click)="addRule()" class="p-button-success p-mr-2" style="border: 1px solid black; color: white;"></button>
            </ng-template>
        </p-toolbar>
    </div>

    <p-dialog [(visible)]="ruleDialogue" [style]="{width: '70%'}" header="Escalation Rules Details" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="p-grid" style="margin-top: 30px;">
            <div class="p-col-4 p-offset-1" style="border-radius: 1px solid black;">

            <div class="p-field">
                <label for="trigger">Trigger</label>
                <input type="text" pInputText id="trigger" pInputText [(ngModel)]="rule.trigger" required autofocus placeholder="Enter Trigger"/>
            </div>

            <div class="p-field">
                <label for="level">Level</label>
                <p-dropdown [options]=levels [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedLevel" optionLabel='level' placeholder="select Level"></p-dropdown>
            </div>

            <div class="p-field">
                <label for="escalationId">Escalation ID</label>
                <input type="text" pInputText id="escalation Id" [(ngModel)]="rule.escalationIds" required autofocus placeholder="Enter Escalator's Email-ID" />
                <small class="p-invalid" style="color: red;" *ngIf="submitted && !rule.escalationId">Escalation ID is required.</small>
            </div>

            <div class="p-field">
                <label for="noDaysNoResponse">no. of Days of No Response</label>
                <p-dropdown [options]=reminderPeriods [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedNoDaysNoResponse" optionLabel='day' placeholder="Select No. of Days of No Response"></p-dropdown>
                <small class="p-invalid" style="color: red;" *ngIf="submitted && !rule.noDaysNoResponse">no of Days of No Response is required.</small>
            </div>

            <div class="p-fluid">
                <div class="p-field">
                    <label for="reminderPeriod1">Reminder Period1</label>
                    <p-dropdown [options]=reminderPeriods [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedReminderPeriod1" optionLabel='day' placeholder="Select Reminder Period-1"></p-dropdown>
                </div>
            </div>

            <div class="p-fluid">
                <div class="p-field">
                    <label for="reminderIds1">Receiver ID-1</label>
                    <input pInputText type="text" id="reminderIds1" name="reminderIds1" [(ngModel)]="rule.reminderIds1" placeholder="Enter Receivers Email-Id"><br>
                </div>
            </div>
       

            <div class="p-fluid">
                <div class="p-field">
                    <label for="reminderPeriod2">Reminder Period2</label>
                    <p-dropdown [options]=reminderPeriods [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedReminderPeriod2" optionLabel='day' placeholder="Select Reminder Period-2"></p-dropdown>
                </div>
            </div>
        </div>
    
        <div class="p-col-4 p-offset-1">
    
            <div class="p-fluid">
                <div class="p-field">
                    <label for="reminderIds2">Receiver ID-2</label>
                    <input pInputText type="text" id="reminderIds2" name="reminderIds2" [(ngModel)]="rule.reminderIds2" placeholder="Enter Receivers Email-Id"><br>                    
                </div>
            </div>

            
            <div class="p-fluid">
                <div class="p-field">
                    <label for="reminderPeriod3">Reminder Period3</label>
                    <p-dropdown [options]=reminderPeriods [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedReminderPeriod3" optionLabel='day' placeholder="Select Reminder Period-3"></p-dropdown>
                </div>
            </div>

            
            <div class="p-fluid">
                <div class="p-field">
                    <label for="reminderIds3">Receiver ID-3</label>
                    <input pInputText type="email" id="reminderIds3" name="reminderIds3" [(ngModel)]="rule.reminderIds3" placeholder="Enter Receivers Email-Id"><br>
                </div>
            </div>

            
            <div class="p-fluid">
                <div class="p-field">
                    <label for="templateEscalation">Template Escalation</label>
                    <input pInputText type="text" id="templateEscalation" name="templateEscalation" [(ngModel)]="rule.templateEscalation" placeholder="Enter Template Escalation">
                </div>
            </div>

            
            <div class="p-fluid">
                <div class="p-field">
                    <label for="templateReminder">Template Reminder</label>
                    <p-dropdown [options]=reminderPeriods [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedTemplateReminder" optionLabel='day' placeholder="Select Template Reminder"></p-dropdown>
                </div>
            </div>

            
            <div class="p-fluid">
                <div class="p-field">
                    <label for="scope">Scope</label>
                    <input pInputText type="text" id="scope" name="scope" [(ngModel)]="rule.scope" placeholder="Enter Scope"><br>
                </div>
            </div>

            <div class="p-fluid">
                <div class="p-field">
                    <label for="entityIdStr">Entity Id</label>
                    <input pInputText type="text" id="entityIdStr" name="entityIdStr" [(ngModel)]="rule.entityIdStr" placeholder="Enter Entity ID in number"><br>
                </div>
            </div>

            <div class="p-fluid">
                <div class="p-field">
                    <label for="entityIdNum">Entity Id</label>
                    <input pInputText type="text" id="entityIdNum" name="entityIdNum" [(ngModel)]="rule.entityIdNum" placeholder="Enter Entity ID in letters"><br>
                </div>
            </div>
        </div>
        </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveRule()"></button>
        </ng-template>
    </p-dialog>




    <div>
        
        <p-table [columns]="selectedColumns" styleClass="table" #dt [value]="rule1" [rows]="5" [paginator]="true" [globalFilterFields]="['trigger','level','escalationIds','noDaysNoResponse','reminderPeriod1','reminderIds1','templateEscalation','templateReminder','scope']" [rowHover]="true" dataKey="id" responsiveLayout="scroll"  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
                <div class="p-d-flex p-ai-center p-jc-between">
                    <h5 class="p-m-0">Manage Escalation Rules</h5>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Search..."/>
                    </span>
                </div>

                <div>
                    <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                    selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" placeholder="Choose Columns"></p-multiSelect>
                </div>
            </ng-template>
            
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>
                        Rule ID
                    </th>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                  
                    <th>Action</th>
                    <th></th> 
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rule1 let-columns="columns">
                <tr>
                    <td>
                        {{rule1.id}}
                    </td>
                    <td *ngFor="let col of columns">
                        {{rule1[col.field]}}
                    </td>
                  
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" (click)="editRule(rule1)" class="p-button-success"></button>
                    </td>
                    <td>
                        <button pButton pRipple icon="pi pi-trash" (click)="deleteRule(rule1.id)" class="p-button-danger"></button>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    In total there are {{rule1 ? rule1.length : 0 }} Rules.
                </div>
            </ng-template>
        </p-table>
    </div>
</div>